.list {
    color: white;
    background-color: goldenrod;
    margin: 20px auto;
    border-radius: 5px;
    border: 1px black solid;
}

.type {
    text-align: center;
}

.top {
    display: flex;
}

.data {
    flex: 1;
    border: 1px black solid;
    padding: 5px;
}

.heading {
    border: 1px black solid;
}

.information {
    border: 1px black solid;
}

.list-button {
    flex: 1;
    background-color: rgb(211, 52, 24);
    color: white;
    border: 1px black solid;
    padding: 5px;
}