body {
  background-color: aquamarine;
}

.App {
  height: auto;
}

#to-do-form {
  background-color: rgb(0, 87, 128);
  min-height: 100px;
  width: 500px;
  margin: 40px auto;
}

#to-do-form textarea {
  background-color: greenyellow;
  border: 0;
  width: 400px;
  height: 100px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
}

#heading {
  background-color: greenyellow;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: white;
}

#date {
  background-color: greenyellow;
  color: white;
  margin: 20px;
  padding: 10px;
  
}

#date::-webkit-inner-spin-button { display: none; }

#to-do-form input:focus {
  outline: none;
}

#to-do-form select {
  background: rgb(13, 96, 221);
  color: white;
  font-weight: bolder;
  padding: 10px;
}

#to-do-form button {
  width: 80px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  background-color: rebeccapurple;
  cursor: pointer;
  color: white;
  margin: 20px;
  font-weight: bolder;
}